.container{
    height: 350px;
    width: 450px;
    border: 2px solid black;
    background-color: aqua;
    color: black;
    margin: 18px;
    padding: 18px;
}
.box{
    height: 240px;
    width: 350px;
    border: 2px solid black;
    background-color: rgb(191, 255, 0);
    color: black;
    margin: 18px;
    padding: 18px;
}
.child{
    height: 170px;
    width: 280px;
    border: 2px solid black;
    background-color: rgb(119, 0, 255);
    color: black;
    margin: 18px;
    padding: 18px;
}